* {
    body {
        background-image: linear-gradient(right, #4b4b4b, #6e6e6e);
        div#loading-container {
            img {
                width: 50px;
            }
            p {
                color: #fff;
                font-weight: bold;
            }
        }
        div#init-container {
            display: none;
            > button#init-button {
                padding: 1em;
                font-weight: bold;
                font-size: 14pt;
            }
        }
        div#game-container {
            flex: auto;
            display: none;
            > li.player-list {
                list-style: none;
                > div {
                    margin-bottom: 1em;
                    img.player-img {
                        width: 64px;
                        height: 64px;
                        margin-right: 1em;
                    }
                    p.player-name {
                        font-weight: bold;
                        display: inline;
                        vertical-align: top;
                        display: inline-block;
                    }
                }
            }
        }
    }
    font-family: sans-serif;

    p.roomCode {
        font-size: 50pt;
        font-weight: bold;
        color: black;
        text-shadow: white;
        padding: 0;
        margin: 0;
    }
}